body {
    padding: 20px;
}

header {
    width: 482px;
    margin: 0 auto;
}

main {
    width: 482px;
    margin: 0 auto;
}

#a {
    background-color: aqua;
    width: 480px;
    height: 75px;
}

#b {
    background-color: red;
    width: 480px;
    height: 150px;
}

#c {
    background-color: green;
    width: 480px;
    height: 125px;
}
#d {
    background-color: violet;
    position: relative;
    width: 480px;
    height: 125px;
}
#e, #g {
    background-color: blue;
    width: 239px;
    height: 250px;
    display: inline-block;
    margin: 0px;
}
#f {
    background-color: pink;
    width: 239px;
    height: 250px;
    display: inline-block;
    margin: 0px;
    float: right;
}
#h {
    background-color: cyan;
    width: 239px;
    height: 250px;
    display: inline-block;
    margin: 0px;
    float: right;
}
#i {
    width: 480px;
    height: 80px;
    background-color: grey;
}


@media only screen and (min-width: 800px) {

    header {
        width: 960px;
        margin: 0 auto;
    }
    
    main {
        width: 962px;
        height: 602px;
        margin: 0 auto;
        position: relative;
    }
    
    #a {
        width: 960px;
        height: 100px;
    }
    
    #b {
        width: 200px;
        height: 600px;
        float: left;
    }
    
    #c {
        width: 378px;
        height: 200px;
        display: inline-block;
    } 
    #d {
        width: 378px;
        height: 200px;
        display: inline-block;
        float: right;
    }
    
    #e {
        width: 190px;
        height: 250px;
        display: inline-block;
    }
    #f {
        width: 190px;
        height: 250px;
        display: inline-block;
    }
    #g {
        width: 190px;
        height: 250px;
        display: inline-block;
    }
    #h {
        width: 188px;
        height: 250px;
        display: inline-block;
    }
    
    #i {
        width: 758px;
        height: 150px;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .centered {
        text-align: center;
        vertical-align: 5em;
    }

}